@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
.navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 990;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: white;
  height: 80px;
  padding: 10px 8vw;
  box-shadow: 0 1px 25px 0 rgb(0 0 0 / 5%);

}
.navbar-brand{
  font-size: 30px;
  font-family: 'Aladin';
}
.navbar-brand:hover{
  color: white;
  cursor: pointer;
}
.navbar-buttons-container{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.navbar-links-container{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.navbar-link{
  color: white !important;
  opacity: 0.95;
  font-size: 1em;
  line-height: 1.5em;
}
.navbar-link-active{
  position: relative;
}
.navbar-link-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  margin-top: 5px; /* Adjust the value to add space between text and underline */
}
.navbar-link:hover{
  opacity: 0.8;
  cursor: pointer;
}


@media only screen and (max-width:768px){
  .navbar {
    height: 80px;
    padding: 15px 5vw;
  }
  .logo{
    height: 40px;
    width: auto;
  }
  .navbar-buttons-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
  }
  .navbar-links-container{
    display: none;
  }
}