.section-heading{
    text-align: center !important;
    padding-bottom: 1rem;
    margin-bottom: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 2em;
}
.section-heading-quote{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center !important;
}
.section-heading-quote p{
    margin: 0 !important;
    padding: 0 !important;
    text-align: center !important;
}
.section-heading-hr{
    margin-top:2.5rem;
    margin-bottom:2.5rem;
}

@media screen and (max-width: 500px) {
    .section-heading{
        padding-left: 0.1rem;
        padding-right: 0.1rem;
    }
}