.experience{
    color: #4e54c8;
    background-color: white;
    padding: 4rem 5rem;
    text-align: left;
}
.experience-container{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
@media screen and (max-width: 600px) {
    .experience{
        padding: 2rem 1rem; 
    }

}